<ion-view >

<ion-content ng-controller="CreateQuestionController as vm" >




<ion class="list" >

	<label class="item item-input">
		<input type="text" class="form-control" placeholder="Type Question Here..." ng-model="vm.desc"/>
	</label>
	
</ion>

<br/>
<div ng-click="vm.createQ()" class="bar bar-balanced">
	<h3 class="title">Post Question</h3>
</div>
<br>
<br>
<div class="text-center">
	<a href="#/questionsFeed">
		<button class="button button-balanced button-outline">
			View Questions
		</button>
	</a>
</div>

</ion-content>
</ion-view>