<ion-view >

<ion-content id="scrollFabButtonTarget" ng-controller="CreateQuestionController as vm" >

<p  class="spacer"></p>



<ion class="list">
	<h5 class="title">1. CREATE YOUR QUESTION</h5>

	<label class="item item-input">
		<input type="text" class="form-control" placeholder="Type Question Here..." ng-model="vm.desc"/>
	</label>

</ion>

<ion class="list" >
	<h5 class="title">2. ADD TAG(S) ABOUT YOUR QUESTION</h5>

	<ion class="item item-input">
		<input type="text" class="form-control" placeholder="Type tag Here..." ng-model="vm.tag"/>
		<button class="button ion-checkmark-round ink" ng-click="vm.addTag(vm.tag); showTags = true;"></button>
	</ion>

	<span ng-show="vm.tagError" style="color: #ff0000">Cannot Submit tag with Spaces</span>

</ion>

<div>
	<div class="tags" ng-show="showTags" ng-repeat="tag in vm.tags track by $index">
		{{tag}}
		<span ng-click="vm.deleteTag($index)" class="ion-close-round">
		</span>
	</div>
</div>


<ion class="list">
	<h5 class="title">3. ENTER LOCATION OF QUESTION</h5>

	<ion class="item item-input">
		<input type="text" class="form-control" ng-model="vm.questionLocation" placeholder="Type location here..">
		<button class="button ion-checkmark-round ink" ng-click="vm.addQlocaiton(); showTags = true;"></button>
	</ion>

</ion>

<div ng-show="vm.mapStatus" id="map"></div>

<br/>
<div ng-click="vm.createQ();">
	<h3 class="button button-block ink button-raised">4. FINISH & POST QUESTION</h3>
</div>
<br>
<br>
<div ui-sref="QuestionsFeed">
	<button class="button button-stable button-block buttton-outline ink">VIEW QUESTIONS</button>
</div>

</ion-content>
<fab-button ui-sref="CreateQuestion" target-id="scrollFabButtonTarget">
    <i class="icon ion ion-android-add"></i>
</fab-button>
</ion-view>
