<ion-view >

<ion-content>
<p  class="spacer"></p>
<ion-header><h3 class="title">Please Register</h3></ion-header>



<ion class="list">

	<label class="item item-input">
		<input type="text" class="form-control" placeholder="Username..." ng-model="global.user.username"/>
	</label>

	<label class="item item-input">
		<input type="email" class="form-control" placeholder="Email..." ng-model="global.user.email"/>
	</label>

	<label class="item item-input">
		<input type="password" class="form-control" placeholder="Password..." ng-model="global.user.password"/>
	</label>

	<label class="item item-input">
		<input type="password" ng-model="global.user.passwordConfirm" placeholder="Confirm Password..." class="form-control"/>
	</label>

	
</ion>


<div ng-click="global.registerUser()">
	<h3 class="title button button-block ink button-raised">Register</h3>
</div>

</ion-content>
</ion-view>