<ion-view >

<ion-content ng-controller="UserController as vm">
<ion-header><h3 class="title">Register!</h3></ion-header>



<ion class="list">

	<label class="item item-input">
		<input type="text" class="form-control" placeholder="Username..." ng-model="vm.user.username"/>
	</label>

	<label class="item item-input">
		<input type="email" class="form-control" placeholder="Email..." ng-model="vm.user.email"/>
	</label>

	<label class="item item-input">
		<input type="password" class="form-control" placeholder="Password..." ng-model="vm.user.password"/>
	</label>

	<label class="item item-input">
		<input type="password" ng-model="vm.user.passwordConfirm" placeholder="Confirm Password..." class="form-control"/>
	</label>

	
</ion>


<div ng-click="vm.registerUser()" class="bar bar-balanced">
	<h3 class="title">Register</h3>
</div>

</ion-content>
</ion-view>