<ion-view class="text-center" >

<ion-content ng-controller="UserSettingsController as vm" >

<ion-header></ion-header>


<button class="button button-balanced button-outline ink locateBtn" ng-show="!vm.mapStatus" ng-click="vm.openMap()">Set Home Location</button>
<br>
<div ng-show="vm.mapStatus" id="map">Google Map Area</div>

<br>
<div ng-show="vm.mapStatus">

	<h4>Confirm your home location above, then select a radius around your home below.
	</h4>
	<br>
	<h5>(This radius is the area you are most familiar with)</h5>
	<select class="form-control" ng-model='vm.distance' id="settingsRadius">

		<option ng-selected="true">Select Radius</option>	
		<option value='1'>1 Mile</option>
		<option value='2'>2 Miles</option>
		<option value='3'>3 Miles</option>
		<option value='4'>4 Miles</option>
		<option value='5'>5 Miles</option>
		<option value='6'>6 Miles</option>
		<option value='7'>7 Miles</option>
		<option value='8'>8 Miles</option>
		<option value='9'>9 Miles</option>
		<option value='10'>10 Miles</option>
	</select>

	<button ng-show="vm.mapStatus" class="button ion-checkmark-round button-balanced ink" ng-click="vm.submitHomeLocation()"></button>


</div>

<div> Your Location: {{vm.homeLocation}}</div>
<br>
<hr>


<ion>
	{{vm.userId}}
	<h4>Do you want to filter the questions you see by certain categories?</h4>
	<button class="button button-assertive button-outline ink" ng-click="vm.filterOff(); filtering = false;">No</button>
	<button class="button button-balanced button-outline ink" ng-click="vm.filterOn(); filtering = true;">Yes</button>
	<!-- <h5>(Set tags that describe topics for the questions you want to see)</h5> -->
</ion>



<ion class="item item-input" ng-show="filtering">
	<input type="text" placeholder="Type category of questions you want to see here..." ng-model="vm.tag"/>
	<button class="button ion-plus button-balanced ink" ng-click="vm.addTag(vm.tag); showTags = true;"></button>
</ion>

<button ng-show="filtering" class="button ion-checkmark-round button-balanced ink" ng-click="vm.saveTags()"> Finish & Save</button>


<div>
	<span ng-show="vm.tagError">Cannot Submit tag with Spaces</span>
</div>

<div>	
	<div id="tags" ng-repeat="tag in vm.tags track by $index">
		{{tag}}
		<span ng-click="vm.deleteTag($index)" class="ion-close-round">
		</span>
	</div>
</div>



<!-- <div>
	<h4>Your Current Tags</h4>

	
	<br>
	<button ng-click="vm.showTagInput()" class="button button-large">Create Tags</button>

	<form ng-submit="vm.addTag(vm.tag)" ng-show="vm.showInput">
		<input class="form-control" ng-model="vm.tag">
	</form>
	<button ng-show="vm.saveStatus" ng-click="vm.saveTags()"class="button button-medium" id="tagSave">Save</button>
</div>

<div class="tagDiv" style="background-color: #FFFFFF;">
	<br>
	<span class="" ng-repeat="t in vm.tags track by $index">

		<div class="indvTag">
			{{t}}   
			<div ng-click="vm.deleteTag($index)" class="glyphicon glyphicon-remove" aria-hidden="true">
			</div>
		</div>
	</span>

</div> -->



</ion-content>
</ion-view>