<ion-view class="text-center" >

<ion-content  has-bouncing="false" id="scrollFabButtonTarget" ng-controller="UserSettingsController as vm" >
<p  class="spacer"></p>

<ion-header></ion-header>


<button class="button ink locateBtn" ng-show="!vm.mapStatus" ng-click="vm.openMap()">Set Home Location</button>
<br>
<div ng-show="vm.mapStatus" id="map"></div>

<br>
<div ng-show="vm.mapStatus">

	<h4>Confirm your home location above, then select a radius around your home below.
	</h4>
	<br>
	<h5>(This radius is the area you are most familiar with)</h5>
	<select class="form-control" ng-model='vm.distance' id="settingsRadius">

		<option ng-selected="true">Select Radius</option>	
		<option value='1'>1 Mile</option>
		<option value='2'>2 Miles</option>
		<option value='3'>3 Miles</option>
		<option value='4'>4 Miles</option>
		<option value='5'>5 Miles</option>
		<option value='6'>6 Miles</option>
		<option value='7'>7 Miles</option>
		<option value='8'>8 Miles</option>
		<option value='9'>9 Miles</option>
		<option value='10'>10 Miles</option>
	</select>

	<button ng-show="vm.mapStatus" class="button ion-checkmark-round ink" ng-click="vm.submitHomeLocation()"></button>


</div>

<!-- <div> Your Location: {{vm.homeLocation}}</div> -->
<br>
<hr>

<!-- FILTERING FOR QUESTIONS FEED BY TAGS======================================== -->
<ion>
	<h4>Do you want to filter the questions you see by certain categories?</h4>
	<button class="button button-assertive button-outline ink" ng-click="vm.filterOff(); filtering = false;">No</button>
	<button class="button button-balanced button-outline ink" ng-click="vm.filterOn(); filtering = true;">Yes</button>
</ion>

<ion class="item item-input" ng-show="filtering">
	<input type="text" placeholder="Type categories of questions you can answer..." ng-model="vm.tag"/>
	<button class="button ion-plus ink" ng-click="vm.addTag(vm.tag)"></button>
</ion>

<div>
	<span ng-show="vm.tagError">Cannot Submit tag with Spaces</span>
</div>

<div>	
	<br>
	YOUR QUESTION CATEGORIES:
	<div class="tags" ng-repeat="tag in vm.tags track by $index">
		<i> {{tag}}</i>
		<span ng-click="vm.deleteTag($index)" class="ion-close-round">
		</span>
	</div>
</div>

<button ng-show="filtering" class="button ion-checkmark-round ink" ng-click="vm.saveTags()"> Finish & Save</button>

<!-- FILTERING ALERTS FOR QUESTIONS BY TAGS======================================== -->
<!-- <ion>
	<h4>Do you want to filter your alerts for questions by certain categories?</h4>
	<button class="button button-assertive button-outline ink" ng-click="vm.filterAlertOff(); alertFiltering = false;">No</button>
	<button class="button button-balanced button-outline ink" ng-click="vm.filterAlertOn(); alertFiltering = true;">Yes</button>
</ion>

<ion class="item item-input" ng-show="alertFiltering">
	<input type="text" placeholder="Type categories of questions you can answer..." ng-model="vm.tag"/>
	<button class="button ion-plus ink" ng-click="vm.addTag(vm.tag)"></button>
</ion>

<button ng-show="alertFiltering" class="button ion-checkmark-round ink" ng-click="vm.saveTags()"> Finish & Save</button>

<div>
	<span ng-show="vm.tagError">Cannot Submit tag with Spaces</span>
</div> -->

</ion-content>
<fab-button ui-sref="CreateQuestion" target-id="scrollFabButtonTarget">
	<i class="icon ion ion-android-add"></i>
</fab-button>
</ion-view>