/* Empty. Add your own CSS if you like */

/*LINK STYLES============================================================*/
a {
	text-decoration: none;
}

/*======================*/
.custom-icon {
	color: #33CD5F;
	font-size: 3em;
	z-index: 1;
	margin-top: -.2em;
	margin-left: .1em;
}

.ion-keys  {
	font-size: 1.3em;
}

#mainLogo {
	width: 79px;
}

.naviBar h1 {
	color: white;
	font-size: 1.3em;
	text-align: center;
	margin: auto;
}

.navTitles {
	color: #333;
	font-size: 1.3em;
}
/*STYLING FOR WELCOME PAGE AND TITLE FOR EACH STATE======================================================*/
.welcomePic {
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/23/7b/e6/237be67444f3fc45daaa303135700428.jpg"); 
	
}

.welcomePic h3 {
	padding-top: 60%;
	color:white;
	font-weight: bolder;
	font-size: 2.7em;
	text-shadow: 1px 3px 3px #000;
}



/*STYLING FOR USER SETTINGS AND MAP======================================================*/

#settingsRadius{
	width: 60%;
	height: 47px;
	font-size: 1.3em;
	display: inline;
	margin-bottom: 1em;
}
#map{
	height: 200px;
	width: 100%;
	margin-top: 1.7em;
}

/*STYLING TAGS======================================================*/


#tags {
	display: inline-block;
	box-shadow: 1px 2px 6px #333;
	padding: 7px;
	margin: 6px;
}

